# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JJ Project Restaurant/Team10_Project/nbproject/private/
/JJ Project Restaurant/Team10_Project/build/
/JJ Project Restaurant/Team10_ProjectClient/nbproject/private/
/JJ Project Restaurant/Team10_ProjectClient/build/
/JJ Project Restaurant/Team10_ProjectClient/dist/
/JJ Project Restaurant/Team10_Project/dist/
/JJ Project Restaurant/JavaApplication7/nbproject/private/
/JJ Project Restaurant/TestServer/nbproject/private/
/JJ Project Restaurant/TestServer/build/
/JJ Project Restaurant/TestServerClient/nbproject/private/
/JJ Project Restaurant/WebApplication1/nbproject/private/
/JJ Project Restaurant/JavaApplication8/nbproject/private/
/JJ Project Restaurant/WebApplication1/build/
/JJ Project Restaurant/WebApplication1/dist/
/JJ Project Restaurant/TestServer1/nbproject/private/
/JJ Project Restaurant/TestServer1/build/
/JJ Project Restaurant/testclient2/nbproject/private/
/JJ Project Restaurant/JavaFXApplication1/nbproject/private/
/JJ Project Restaurant/TTTWebApplication/nbproject/private/
/JJ Project Restaurant/TTTWebApplication/build/
/JJ Project Restaurant/TTTWebApplication/dist/
*.properties
/simplication/Team10_Project2.0/dist/
/simplication/BookingSystem/nbproject/private/
/simplication/Team10_Project/nbproject/private/
/simplication/Team10_Project/build/
/simplication/Team10_Project/dist/
simplication/Team10_Project2.0/build/built-jar.properties
